.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 0;
    height: 70px;
    border-radius: 30%;
}

.topbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topbar img {
    height: 50px;
    margin-left: 120px;
}

.topbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
.topbar ul li a {
    text-decoration: none;
    color: #575757;
    font-weight: 600;
    font-size: 16px;
}
.topbar button {
    background-color: #54744c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    margin-right: 120px;
}
h1 {
    color: #54744c;
    font-size: 24px;
    margin: 0;
    align-items: center;
}

.title-light {
    margin-top: -4px;
    display: inline-block;
    font-weight: medium;
    font-size: 12px;
    color: #555;
}